<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <nav>
        <a class="btn" th:href="@{/}">Home</a>
    </nav>

    <div class="container">
        <h3>Update Form Mahasiswa</h3>
        <form th:attr="action=@{/student/updateStudent}" method="POST" th:object="${student}">
            <label>
                <input name="id" type="hidden" th:field="*{id}">
            </label>
            <label>Nama Depan
                <input required name="namaDepan" type="text" th:field="*{firstName}" placeholder="Nama Depan">
            </label>

            <label>Nama Belakang
                <input name="namaBelakang" type="text" th:field="*{lastName}" placeholder="Nama Belakang">
            </label>

            <label>Jenis Kelamin
                <select required th:field="*{jenisKelamin}">
                    <option th:value="o" selected>-Pilih-</option>
                    <option th:value="L">Laki-laki</option>
                    <option th:value="P">Perempuan</option>
                </select>
            </label>

            <label>Tempat Lahir
                <input required name="tempatLahir" type="text" th:field="*{tempatLahir}" placeholder="Tempat Lahir">
            </label>

            <label>Tanggal Lahir
                <input required name="tanggalLahir" type="date" th:field="*{tanggalLahir}">
            </label>

            <label>Email
                <input required name="email" type="email" th:field="*{email}" placeholder="Email">
            </label>

            <label>Alamat
                <textarea placeholder="Alamat lengkap" required maxlength="200" cols="30" rows="5" name="alamat" th:field="*{address}"></textarea>
            </label>

            <input type="submit" value="Submit">
        </form>
    </div>
    <a class="btn-dec2" th:href="@{/student/dataStudent}">Cancel</a>
    <script th:src="@{/site.js}"></script>
</body>
</html>