<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

    <nav>
        <a class="btn" onclick="overlay()">Register</a>
        <a class="btn" onclick="overlay2()">Data</a>
    </nav>

    <div class="wrapper">
        <h1>Selamat Datang</h1>
    </div>
    <div class="attention">Untuk melanjutkan silahkan mendaftarkan diri anda dengan menekan tombol register di atas</div>
    <div id="overlay">
        <div>
            <a class="close" onclick='overlay()'>X</a>
            <p>Apa yang ingin anda daftarkan?</p>
            <label>
                <select required id="selectBtn">
                    <option th:value="2" selected>-Pilih-</option>
                    <option th:value="1">Instructor</option>
                    <option th:value="0">Student</option>
                </select>
            </label>

            <a class="btn-dec" th:href="@{/student/Register2}"> Next </a>
            <a class="btn-dec" th:href="@{/instructor/Register}"> Next </a>
            <a class="btn-dec" onclick='overlay()'> Next </a>

            <a class="btn-dec2" onclick='overlay()'>Cancel</a>
            
        </div>
    </div>
    <div id="overlay2">
        <div>
            <a class="close" onclick='overlay2()'>X</a>
            <p>Data apa yang ingin anda lihat?</p>
            <label>
                <select required id="selectBtnx">
                    <option th:value="2" selected>Course</option>
                    <option th:value="1">Instructor</option>
                    <option th:value="0">Student</option>
                </select>
            </label>

            <a class="btn-decx" th:href="@{/student/dataStudent}"> Next </a>
            <a class="btn-decx" th:href="@{/instructor/dataInstructor}"> Next </a>
            <a class="btn-decx" th:href="@{/course/dataCourse}"> Next </a>

            <a class="btn-dec3" onclick='overlay2()'>Cancel</a>
            
        </div>
    </div>

    <script th:src="@{/site.js}"></script>
</body>
</html>